
<!DOCTYPE html>
    <html>
      <head>
        
        <title>About Me</title>
	      <link href="../bruhMoment.css" rel="stylesheet">
      </head>
      <body>
          <a class="nav-link" href="../index.html">index.html <span class="sr-only">(current)</span></a>
        <h1>Inouye, Michael</h1><br>
        <p>I'm studying computer science because I enjoy whats possible with it.</p><br>
        <h2>My Professional Profile</h2><br><br>
        <p><a href="https://github.com/MiInouye/">My Github</a></p><br>
        <img src= ../imgs/most_professional.jpg  alt="The realest" height=500 ><br>
        <h3>My favorite Projects</h3><br>
        <table class="table " >
          <thead>
            <tr>
              <th scope="col">Name of the Project</th>
              <th scope="col">Technologies used</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bomb Lab</th>
              <td>C++, Assembly</td>
            </tr>
            <tr>
              <th scope="row">Final for Data Structs</th>
              <td>C++</td>
            </tr>
            <tr>
              <th scope="row">This one</th>
              <td>Html, Css, Js</td>
            </tr>
          </tbody>
        </table><br>
        <ul>
          <li>Coding</li>
          <li>Video Games</li>
          <li>Cooking</li>
        </ul>

      </body>
    </html>
